mulesoft/src/main/mule/mulesoft.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4083c1bd-de2b-492c-9011-2869a7c98a69" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mulesoftFlow" doc:id="21c1fbae-d016-4cca-845a-7f1d63faa44d" >
		<http:listener doc:name="Listener" doc:id="2b0535bd-bd21-4e1e-9359-50ae9e1c0eaf" config-ref="HTTP_Listener_config" path="/mule"/>
		<set-payload value='#["mulesoft devops"]' doc:name="Set Payload" doc:id="a731ab0c-0ced-499f-bd78-164dd5cc3f06" />
	</flow>
</mule>
